@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  html {
    @apply bg-background;
  }

  :root {
    --background: 60 5% 96%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 98%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 336 74% 35%;
    --primary-foreground: 327 73% 97%;
    --secondary: 24 6% 83%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 24 6% 83%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 0 0% 90%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 83%;
    --input: 24 5% 64%;
    --ring: 336 74% 35%;
    --radius: 0rem;
    --success: 142 72% 29%;
  }

  .dark {
    --background: 22 12% 6%;
    --foreground: 0 0% 95%;
    --card: 24 10% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 335 78% 42%;
    --primary-foreground: 327 73% 97%;
    --secondary: 0 0% 32%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 32%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 74% 42%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 0 0% 15%;
    --input: 30 6% 25%;
    --ring: 335 78% 42%;
    --success: 120 63% 31%;
  }
}
